.article_nav {
    font-family: 'Guardian Egyptian Web',Georgia,serif;
}

.active.article_nav {
    padding: 10px 10px 5px;
}

.article_nav .superlist-item-link {
    display: block;
    padding: 5px 0;
    color: #333;
    margin-left: 2.8em;
}

.article_nav .margin {
    margin-bottom: 5px;
}
.article_nav .superlist-list {
    clear: both;
    margin-bottom: 0;
    list-style-type: none;
}
.article_nav .superlist-item {
    font-size: 14px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.4em;
    position: relative;
}

.article_nav .superlist-item:nth-child(odd) {
    background-color: rgb(244, 244, 244);
    background-color: rgba(51,51,51,0.05);
}


.superlist-item-link:before {
    content: attr(data-num);
    display: inline-block;
    color: #767676;
    font-size: 1.3em;
    margin: 0 0 0 6px;
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    position: absolute;
    left: 0;
}

.superlist-link-title {
    font-weight: 700;
}

.superlist-link-subtitle:before {
    content: "-";
    display: inline-block;
    margin: 0 0.3em;
}

.article_nav.active {
    font-size: 16px;
    position: fixed;
    z-index: 99999;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    /* padding: 40px 0 0 10px; */

    -webkit-transition: top 200ms cubic-bezier(.17, .04, .03, .94);
            transition: top 200ms cubic-bezier(.17, .04, .03, .94);

    border: none;
    border-right: 1px solid #dcdcdc;
    border-bottom: 3px solid #4bc6df;
    border-left: 1px solid #dcdcdc;
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    height: 43px;
}

@media (max-width: 46.25em) {
    .article_nav.active {
        left: 0;
    }

    .article_nav .superlist-nav-headline {
        visibility: hidden;
    }

    .superlist-prenext-wrapper {
        left: 10px;
    }
}


.article_nav.active.openNav {
    height: auto;
    padding-bottom: 10px;
    border-bottom-width: 3px;
}

.active-link {
    font-weight: bold;
}

.active .active-link::before {
    position: absolute;
    top: 9px;
    left: 10px;
    overflow: hidden;
    width: 90%;
    max-width: 380px;
    content: attr(data-title);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article_nav .menu {
    display: none;
}

.article_nav.active .menu {
    position: absolute;
    top: 6px;
    right: 10px;
    display: block;
    padding-left: 1.4em;
    background: #FFF;
    height: 1.8em;
    border-radius: 50%;
    width: 0.4em;
    cursor: pointer;
}

.openNav.article_nav.active .menu {
    background-color: #FFF !important;
}

.menu-ham {
    position: absolute;
    top: .57em;
    left: 0.41em;
    width: 1em;
    height: .125em;
    content: '';
    cursor: pointer;
    border-top: .375em double #000;
    border-bottom: .125em solid #000;
}

.active.article_nav .superlist-list {
    list-style-type: none;
}

.active.article_nav .superlist-item {
    counter-increment: item;
    display: block;
    float: left;
    border: 1px solid #FFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 2em;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    margin: 2px;
    color: #FFF;
}

.active.article_nav .superlist-item-link {
    display: none;
}

.active.article_nav .superlist-item:before {
    content: counter(item) "  "; 
}


.active.article_nav .superlist-item {
    overflow: hidden;
    padding-top: 1px;
    line-height: 2em;
}


.superlist-number {
    float: left;
    display: block;
    color: #979797;
    font-size: 3em;
    font-weight: 300;
    margin: 0 30px 10px 0;
    line-height: 1em;
}

.superlist-title {
    display: block;
}

.superlist-subtitle {
    display: block;
    font-weight: 300;
    color: #828282;
    font-size: 1.1rem;
}

.superlist-prenext-wrapper {
    display: none;
}
.active .superlist-prenext-wrapper {
    display: block;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 8px;
    right: 50px;
}

.active .superlist-prenext-btn {
    border: 1px solid #FFF; 
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20%/50%;
    width: 4em;
    line-height: 0.6em;
    cursor: pointer;
    float: left;
    position: relative;
}

.active .superlist-prenext-btn .i-arrow-white-right {
    height: 23px;
    width: 23px;
    position: absolute;
    right: 0;
}

.active .superlist-prenext-btn .i-arrow-white-left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    left: 0;
}

.active .superlist-prenext-num {
    line-height: 1.5em;
    display: inline-block;
    color: #FFF;
    margin: 0 0 0 21px;
}

.active .superlist-prenext-num.next-num {
    margin: 0 0 0 7px;
}


.active .superlist-prenext-btn.superlist-prenext-pre {
    margin-right: 5px;
}

.article_nav .superlist-nav-headline {
    display: none;
}
.article_nav.active .superlist-nav-headline {
    float: left;
    display: block;
    font-weight: 300;
    font-size: 1em;
    color: #FFF;
    white-space: nowrap;
    margin-bottom: 0.6em;
}


.active .superlist-nav-headline .superlist-nav-section {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
